<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Conference Created</title>
</head>
<body>
  <h1>{{ name }}, Your Conference "{{conferenceName}}" has been created!</h1>
  <p>Congratulations! Your conference has been successfully created.</p>
  <p>We wish you a successful and engaging event. If you have any further questions or need assistance, feel free to reach out to us.</p>
</body>
</html>
